body {
    background-color: #302e2e;
}

header {
    padding: 5em;
}

.toplogo {
  display: flex; 
  width: auto;
}

.greylogo {
    height: 150px;
    width: auto;
}

nav {
    padding: 3em;
    word-spacing: 1em;
    position: relative;
    left: -132px;
}

nav li {
    font-family: arial;
    display: inline-block;
    align-content: center;
}

li {
    list-style: none;
    font-size: 18px;
    color: white;
    height: 3em;
    width: auto;
    /* background-color: red; */
    text-align: center;
    /* padding: 1em; */
    /* position: relative; */
    padding-top: 15px;
}

li:hover {
    background-color: grey;
    color: black;
}

.snakebanner {
    display: flex;
    height: 300px;
    justify-content: center;
}

.snakepic {
    padding: 0.5em;
    align-content: center;
}

main {
    margin-left: 25%;
    margin-right: 25%;
}

main > p {
    color: white;
    font-family: arial;
    text-align: center;
}